body {
    background-color: #E1E8ED;
    /* font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /* font-family: "Gotham",sans-serif; */
    font-size: 14px;
    font-weight: 20px;
}

#form, #checkbox, #coordinates, #submit {
    padding:1px 0;
    margin : 7px;
}
#content {
    position: relative;
    width: 100%;
    /* margin: 10px; */
    height: 100%;
}
#map {
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    opacity: 0.9;
}
#form {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width : 350px;
    

    background-color: white;
    opacity : 1;

    border :solid;
    border-color: #AAB8C2;
    border-radius: 10px;
    border-width: 1px;
}
#coordinates {
/*     background-color:#9966FF; */
    text-align:center;
    border-radius: 10px;
}
#submit {
    /* background-color:#669933; */
    text-align:center;
    clear:both;
    padding : 10px;
    border-radius: 10px;

}
#radio {
    display: flex;
    /* background-color:#FF9900; */
    text-align:center;
    align-items: center;
    padding : 10px;
    border-radius: 10px;
    justify-content : space-around;
}
#checkbox {
    text-align:center;
    /* background-color: blue; */
}
#validate {
    display: flex;
    justify-content : center;
    align-items: center;
    /* background-color: blue; */
}

#basemaps-wrapper {
    display: flex;
    justify-content : center;
    top: 10px;
    right: 10px;
    box-shadow: none;

}
#basemaps {
    margin-bottom: 5px;
}

button {
    width : 200px;

    padding : 10px;
    margin: 10px;
    
    border : solid;
    border-radius: 50em;
    border-color: #1DA1F2;

    background-color:#1DA1F2;
    color : white;

    font-weight: bold;
    
}

#info_speech {
    z-index: 1;
    position: absolute;

    width : 500px;
    margin: 10px;
    border-radius: 10px;

    box-shadow: 0 0 3px white;
    background-color: white;
    opacity : 1;

    border :solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #AAB8C2;
    /* margin-right: 370px; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    align-items: center;
}

#speech_title {
    grid-row: 1;
    grid-column: 1/4;
    text-align: center;
    margin: 10px;
}

#speech_p {
    grid-row: 2;
    grid-column: 1/4;
    text-align: center;
    padding: 10px;
}

#close_info_speech_button {
    grid-row: 3;
    grid-column: 2;
    margin: 10px;
}


#textarea_toname {
    grid-row: 3;
    grid-column: 1/4;
    text-align: center;
    justify-self: center;
    justify-content: start;

    margin: 0px; 
    width: 450px; 
    height: 70px;

    border : solid;
    border-radius: 10px;
    border-color: #AAB8C2;
    border-width: 1px;

    font-family: inherit;
    font-size:1em;

    resize: none;
}
#textarea_toname:focus {
    outline: none !important;
    border:2px solid #00acee;
    box-shadow: 0 0 10px #719ECE;
}

#img_toname {
    grid-row: 1;
    grid-column: 1/4;
    justify-self: center;
    margin-top: 10px; 
}

#close_button {
    grid-row: 4;
    grid-column: 1/2;

    width : 200px;
    padding : 10px;
    border : solid;
    border-radius: 50em;

    background-color:#1DA1F2;
    border-color: #1DA1F2;
    color : white;
}

#tweet_button {
    grid-row: 4;
    grid-column: 3/4;

    width : 200px;
    padding : 10px;
    border : solid;
    border-radius: 50em;

    background-color:#1DA1F2;
    border-color: #1DA1F2;
    color : white;
}

p {
    grid-row: 2;
    grid-column: 1/4;
    text-align: center;
    justify-self: center;
}
#char_left {
    font-size:0.8em;
}




option{
    border: solid;
    width: 100%;
}
